# MongoDB
MONGO_USERNAME=''
MONGO_PASSWORD=''
MONGO_DATABASE=''
MONGO_HOST='localhost'
MONGO_PORT='27017'
MONGO_PARAMS=''

# Environment
NODE_ENV='dev' | 'testing' | 'production'

# API
API_HOST=http://localhost
API_PORT=3333

# Logger
LOGGER_ENABLED='true' | 'false'
LOGGER_LEVEL='debug' | 'info' | 'error'

# Storage
STORAGE_TYPE="local" | "s3"

# AWS
AWS_S3_BUCKET_NAME=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_DEFAULT_REGION=''

# Auth secrets
TOKEN_SECRET=''
TOKEN_EXPIRES_IN=''
TOKEN_EXPIRES_HOURS=''
REFRESH_TOKEN_SECRET=''
REFRESH_TOKEN_EXPIRES_IN=''
REFRESH_TOKEN_EXPIRES_SECONDS=''
USER_TOKEN_EXPIRES_IN_SECONDS=''
USER_TOKEN_SIZE=''
PASSWORD_HASH_ROUNDS=''


# SMTP
SMTP_DOMAIN=''
SMTP_HOST=''
SMTP_PORT=587
SMTP_USERNAME=''
SMTP_PASSWORD=''
